spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

logging:
  level:
    com.abao: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
